
.btn {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 50px;

}

.btn-link:hover {
    color: #fff;
    background-color: #41a9d9;
    border-color: #41a9d9;
    border-radius: 50px;
}

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 18rem;
}

.card > hr {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img {
    height: 100%;
    border-radius: calc(0.25rem - 1px);
}

.img-fluid {
    margin: auto;
    width: 100px;
    height: 100px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
}

.card-deck .card {
    margin: 35px;
}

hr {
  box-sizing: content-box;
  height: 1px;
  overflow: visible;
  width: 30%;
}

